replicaCount: 1

image:
  repository: ghcr.io/sample-unwind/reservation-service
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  className: kong
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/plugins: rate-limit-api,cors-api
  host: parkora.crn.si
  path: /api/v1/reservation

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

env: {}

# Reference to K8s secret containing DATABASE_URL, KEYCLOAK_URL, etc.
envFromSecret: reservation-service-secrets

livenessProbe:
  httpGet:
    path: /health/live
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 15
  timeoutSeconds: 3

readinessProbe:
  httpGet:
    path: /health/ready
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
